{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins":[
    ["css-modules-transform", {
      "extractCss": {
        "dir": "./lib/",
        "relativeRoot": "./src/",
        "filename": "[path]/[name].css"
      }
    }],
    ["transform-es2015-modules-umd"],
    ["import", { "libraryName": "antd" }]
  ]
}